USE [master]
GO
/****** Object:  Database [ITUebung]    Script Date: 10.06.2024 11:38:00 ******/
CREATE DATABASE [ITUebung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITUebung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITUebung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITUebung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITUebung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITUebung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITUebung]
GO
/****** Object:  Table [dbo].[tb_Spieler]    Script Date: 10.06.2024 11:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Spieler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Vorname] [nvarchar](20) NOT NULL,
	[Geboren] [date] NULL,
	[Gestorben] [int] NULL,
	[von] [int] NULL,
	[bis] [int] NULL,
	[Einsätze] [int] NULL,
	[Tore] [int] NULL,
	[Vereine] [nvarchar](max) NULL,
	[Turniere] [nvarchar](max) NULL,
 CONSTRAINT [PK_tb_Spieler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Spieler] ON 

INSERT [dbo].[tb_Spieler] ([ID], [Name], [Vorname], [Geboren], [Gestorben], [von], [bis], [Einsätze], [Tore], [Vereine], [Turniere]) VALUES (1, N'Abramczik', N'Rüdiger', CAST(N'1956-02-18' AS Date), NULL, 1977, 1979, 19, 2, N'FC Schalke 04', N'WM 1978')
INSERT [dbo].[tb_Spieler] ([ID], [Name], [Vorname], [Geboren], [Gestorben], [von], [bis], [Einsätze], [Tore], [Vereine], [Turniere]) VALUES (2, N'Adam', N'Karl', CAST(N'1924-02-04' AS Date), 1999, 1951, 1952, 3, 0, N'TuS Neuendorf', N'')
INSERT [dbo].[tb_Spieler] ([ID], [Name], [Vorname], [Geboren], [Gestorben], [von], [bis], [Einsätze], [Tore], [Vereine], [Turniere]) VALUES (3, N'Adamkiewicz', N'Edmund', CAST(N'1920-04-21' AS Date), 1991, 1942, 1942, 2, 1, N'Hamburger SV', N'')
GO
SET IDENTITY_INSERT [dbo].[tb_Spieler] OFF
GO
USE [master]
GO
